body
{
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 90%;
  background-color: gray;
}
#container
{
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
	-webkit-border-radius-bottomright: 15px;  
  width: 718px;
  margin: 0px auto 20px auto;
  padding: 8px 30px 30px 30px;
  text-align: left;
  line-height: 160%;
  background-color: white;
}
h1
{
  display: block;
  padding: 5px;
  text-align:center;
  margin-bottom: 10px;
  margin-right: 70px;
  font-size: 225%;
  color: #006535;
}
h2
{
  color: #413122;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
  font-size: 150%;
  border-bottom: 2px solid gray;  
}
ol
{
  list-style: decimal;
  padding-left: 20px;
}
ol li
{
  margin-bottom: 30px;
}
input {
  font-size: 100%;
}
input#submit {
  background-color: black;
  color: white;
  padding: 8px;
  -moz-border-radius: 15px;
	-webkit-border-radius: 15px;  
	margin-left: auto;
	margin-righ: auto;
	font-weight: bold;
  display: block;
  border: none;
}
a.button {
  background-color: #006535;
  color: white;
  padding: 8px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
	-webkit-border-top-right-radius: 25px;  
	-webkit-border-bottom-right-radius: 25px;  
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
  text-decoration: none;
}
a.button:hover {
  text-decoration: underline;
}
p {
  margin-bottom: 10;
}
ol.print li {
  font-size: 18px;
  margin: 0
}
li:first-child {
  font-size: 18px
}
.right {
  float: right;
  clear: both;
}
